<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mall</key>
	<array>
		<string>Mall Kelapa Gading</string>
		<string>Pondok Indah Mall</string>
		<string>Grand Indonesia Shopping Town</string>
	</array>
</dict>
</plist>
